# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore gedit temp filse
*~

#ignore ros build directories
/build
/devel
.DS_Store

*.apk
*.ap_
*.dex

*.class
roslyn_app/platforms/android/bin/
roslyn_app/platforms/android/gen/
roslyn_app/platforms/android/ant-gen/
roslyn_app/platforms/android/ant-build/
