* { margin:0; padding:0; }

body
{
	background-image: url(../img/binding_light.png);
}

div.button
{
	cursor:pointer;
}

h1#header
{
	position:absolute;
	top:0;
	left:0;
	text-align: center;
	font-family: Georgia;
	font-size:32px;
	font-weight:bold;
	background: #000;
	height:50px;
	width: 960px;
	line-height: 50px;
	color:#fff;
	z-index:1000;
}

div#footer
{
	position:absolute;
	top: 477px;
	left:0;
	width:960px;
	height:75px;
	text-align: center;
	z-index: 100;
}

div#footer div.button
{
	color:#eee;
	font-weight: bold;
	font-size:28px;
	height:75px;
	width:250px;
	float:left;
	text-align:center;
	background: #000;
	line-height: 75px;
}

div#footer div.button:hover
{
	background-color: #000099
}

div#footer div#interactive_mode_button
{
	margin:0 105px;
}

div#begin_tour_button
{
	position:absolute;
	left:330px;
	top:320px;
	color:#eee;
	font-weight: bold;
	font-size:32px;
	text-align: center;
	background: #000;
	height:100px;
	width:300px;
	line-height: 100px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;	
	z-index:100;	
}

div#begin_tour_button:hover
{
	background-color: #000099;
}

div#message
{
	margin-top:100px;
	margin-left:130px;
	font-size:26px;
	font-family:georgia;
	font-style: italic;
	font-weight: bold;
	line-height:40px;
	text-align: center;
	width:700px;
}

div#message_end
{

	font-size:32px;
	font-family:georgia;
	font-style: italic;
	font-weight: bold;
	text-align: center;

}

.current 
{
	text-decoration: underline;

}

div#map_pane
{
	opacity: 0;
	margin:0;
	padding:0;
	position:absolute;
	top:50px;
	left:0;
	z-index: 99;
}

div#interactive_mode_pane
{
	position:absolute;
	top:0;
	left:0;
	opacity: 0;
	width: 960px;
	height: 552px;
	overflow:hidden;
	background-image:url('../img/camera.png');
	background-repeat:no-repeat;
}

div#end_tour_pane
{
	position:absolute;
	top:0;
	left:0;
	opacity: 0;
}

.marker
{
	position: absolute;
	background:red;
	width:20px;
	height:20px;
}

div#map_button 
{
	border-top-right-radius: 16px;
}

div#interactive_mode_button 
{
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

div#welcome_button, div#end_tour_button 
{
	border-top-left-radius: 16px;
}

div#map_pane 
{
	position:absolute;
	top:0;
	left:0;
    height:552px; 
    width:960px;
}

div#welcome_pane
{
	position:absolute;
	top:0;
	left:0;
	width: 960px;
	height: 552px;
}

div#map_robot_marker
{
	position:absolute;
	top:130px;
	left:140px;
	background:red;
	height:10px;
	width:10px;
	display: none;
}

.leaflet-control-attribution 
{ 
	display: none; 
}

.leaflet-container 
{
    /*background: #fff;*/
    background-image: url(../img/binding_light.png)
}