* { margin:0; padding:0; }

body
{
	background-image: url(../img/binding_light.png)
}

div.button
{
	cursor:pointer
}

h1#header
{
	text-align: center;
	font-family: Georgia;
	font-size:32px;
	font-weight:bold;
	background: #000;
	height:50px;
	width: 1280px;
	line-height: 50px;
	color:#fff;
}

div#footer
{
	position:absolute;
	top: 610px;
	left:0;
	width:1280px;
	height:100px;
	background:;
	text-align: center;
}

div#footer div.button
{
	color:#eee;
	font-weight: bold;
	font-size:32px;
	height:100px;
	width:300px;
	float:left;
	text-align:center;
	background: #000;
	line-height: 100px;
}

div#footer div.button:hover
{
	background-color: #000099
}

div#footer div#interactive_mode_button
{
	margin:0 190px;
}

div#begin_tour_button
{
	position:absolute;
	left:465px;
	top:400px;
	color:#eee;
	font-weight: bold;
	font-size:32px;
	text-align: center;
	background: #000;
	height:150px;
	width:350px;
	line-height: 150px;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;		
}

div#begin_tour_button:hover
{
	background-color: #000099;
}

div#message
{
	margin-top:60px;
	margin-left:340px;
	font-size:32px;
	font-family:georgia;
	font-style: italic;
	font-weight: bold;
	line-height:50px;
	text-align: center;
	width:600px;
}

.current 
{
	text-decoration: underline;
}

div#map_pane, div#interactive_mode_pane, div#end_tour_pane
{
	opacity: 0;
}

.marker
{
	position: absolute;
	background:red;
	width:20px;
	height:20px;
}

div#map_button 
{
	border-top-right-radius: 16px;
}

div#interactive_mode_button 
{
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}

div#welcome_button, div#end_tour_button 
{
	border-top-left-radius: 16px;
}
