<launch>

  <!-- Run gmapping to build a map -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" >
        <param name="scan" type="string" value="/scan" />
        <param name="_particles" type="int" value="100" />
        <param name="_linearUpdate" type="double" value="0.1"/>
        <param name="_angularUpdate" type="double" value="0.03"/>
        <param name="odom_frame" value="odom" />
</node>


  <!--- Run AMCL -->
  <include file="amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="local_costmap_params.yaml" command="load" />
    <rosparam file="global_costmap_params.yaml" command="load" />
    <rosparam file="base_local_planner_params.yaml" command="load" />
  </node>
</launch>
