<launch>
<node pkg="tf" type="static_transform_publisher" name="baselink_to_laser" args="0.1 0 0 0 0 0 1 base_link base_laser 1000" />

  <node pkg="move_base" type="move_base" name="move_base">
        <rosparam file="$(find roslyn_navigation)/launch/navigation_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find roslyn_navigation)/launch/navigation_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find roslyn_navigation)/launch/navigation_params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find roslyn_navigation)/launch/navigation_params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find roslyn_navigation)/launch/navigation_params/base_local_planner_params.yaml" command="load" />
  </node>
  
	<!-- start the map server -->
	<node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen" >
		<param name="scan" type="string" value="/scan" />
		<param name="_particles" type="int" value="1000" />
		<param name="_linearUpdate" type="double" value="0.1"/>
		<param name="_angularUpdate" type="double" value="0.03"/>
		<param name="odom_frame" value="odom" />

	</node>
</launch>
