<launch>
  <machine name="robot1" address="10.8.2.18" env-loader="/home/tim/env.sh" default="never" user="tim"/>
  <machine name="robot2" address="10.8.2.18" env-loader="/home/tim/env.sh" default="never" user="tim"/>
  <machine name="mastr" address="10.8.2.1" default="never" user="rrl"/>
  <machine name="worker1" address="10.8.2.6"  env-loader="/home/tim/env.sh" default="never" user="tim"/>
  <machine name="worker2" address="10.8.2.22" env-loader="/home/rrl/env.sh" default="never" user="rrl"/>

  <node name="map_server" pkg="map_server" type="map_server" machine="worker1" args="/home/tim/roslyn/src/navigation/launch/maps/map_fixed.yaml"/>

  <node pkg="amcl" type="amcl" name="amcl" machine="worker1">
	<!-- Publish scans from best pose at a max of 10 Hz -->
	<param name="odom_model_type" value="diff"/>
	<param name="odom_alpha5" value="0.1"/>
	<param name="transform_tolerance" value="0.2" />
	<param name="gui_publish_rate" value="10.0"/>
	<param name="laser_max_beams" value="30"/>
	<param name="min_particles" value="500"/>
	<param name="max_particles" value="5000"/>
	<param name="kld_err" value="0.05"/>
	<param name="kld_z" value="0.99"/>
	<param name="odom_alpha1" value="0.2"/>
	<param name="odom_alpha2" value="0.2"/>
	<!-- translation std dev, m -->
	<param name="odom_alpha3" value="0.8"/>
	<param name="odom_alpha4" value="0.2"/>
	<param name="laser_z_hit" value="0.5"/>
	<param name="laser_z_short" value="0.05"/>
	<param name="laser_z_max" value="0.05"/>
	<param name="laser_z_rand" value="0.5"/>
	<param name="laser_sigma_hit" value="0.2"/>
	<param name="laser_lambda_short" value="0.1"/>
	<param name="laser_lambda_short" value="0.1"/>
	<param name="laser_model_type" value="likelihood_field"/>
	<!-- <param name="laser_model_type" value="beam"/> -->
	<param name="laser_likelihood_max_dist" value="2.0"/>
	<param name="update_min_d" value="0.2"/>
	<param name="update_min_a" value="0.5"/>
	<param name="odom_frame_id" value="odom"/>
	<param name="resample_interval" value="1"/>
	<param name="transform_tolerance" value="0.1"/>
	<param name="recovery_alpha_slow" value="0.0"/>
	<param name="recovery_alpha_fast" value="0.0"/>
  </node>

  <node pkg="move_base" type="move_base" name="move_base" machine="worker1">
	<rosparam file="$(find roslyn_navigation)/launch/navigation_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
	<rosparam file="$(find roslyn_navigation)/launch/navigation_params/costmap_common_params.yaml" command="load" ns="local_costmap" />
	<rosparam file="$(find roslyn_navigation)/launch/navigation_params/local_costmap_params.yaml" command="load" />
	<rosparam file="$(find roslyn_navigation)/launch/navigation_params/global_costmap_params.yaml" command="load" />
	<rosparam file="$(find roslyn_navigation)/launch/navigation_params/base_local_planner_params.yaml" command="load" />
  </node>
    <node pkg="p2os_driver" type="p2os_driver" name="p2os_driver_1" machine="robot1" output="screen">
      <remap from="aio" to="robot1/aio"/>
      <remap from="pose" to="robot1/odom"/>
      <remap from="battery_state" to="robot1/battery_state"/>
      <remap from="cmd_motor_state" to="robot1/cmd_motor_state"/>
      <remap from="cmd_vel" to="robot1/cmd_vel"/>
      <remap from="diagnostics" to="robot1/diagnostics"/>
      <remap from="dio" to="robot1/dio"/>
      <remap from="motor_state" to="robot1/motor_state"/>
      <remap from="ptz_state" to="robot1/ptz_state"/>
      <remap from="tf" to="robot1/tf"/>
    </node>
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan_1" machine="robot1"/>
</launch>
