<launch>
  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen" >
    <param name="odom_frame" value="odom"/>
    <param name="base_frame" value="base_link"/>
    <param name="particles" type="int" value="1000"/>
    <param name="linearUpdate" type="double" value="0.1"/>
    <param name="angularUpdate" type="double" value="0.03"/>
  </node>
</launch>

