<launch>sfsd
        <!-- start the map server -->
        <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="screen" >
                <param name="scan" type="string" value="/scan" />
                <param name="_particles" type="int" value="1000" />
                <param name="_linearUpdate" type="double" value="0.1"/>
                <param name="_angularUpdate" type="double" value="0.03"/>
                <param name="odom_frame" value="odom" />

        </node>
</launch>

